@font-face {
    font-family: 'Caslon-light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~@/assets/fonts/Caslon.ttf') format('opentype');
  }
  
  @font-face {
    font-family: 'Caslon-norm';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('~@/assets/fonts/Caslon.ttf') format('opentype');
  }
  
  @font-face {
    font-family: 'Caslon-bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~@/assets/fonts/Caslon.ttf') format('opentype');
  }