@font-face {
  font-family: 'Gilroy-light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@/assets/fonts/Gilroy-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Gilroy-norm';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~@/assets/fonts/Gilroy-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Gilroy-bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~@/assets/fonts/Gilroy-Bold.ttf') format('opentype');
}