.send-btn{
    background: #141414;;
    padding: .6rem 1rem;
}
.send-btn:hover{
    opacity: .8;
}
.cancel{
    width: 1.2rem;
    height: 1.2rem;
    opacity: .7;
}
.cancel:hover{
    opacity: 1;
}
.no-result>img{
    width: 23rem;
    height: 17rem;
}

.holds-the-iframe {
    background: url('~@/assets/img/gifs/loader.gif') center center no-repeat;
    background-size: cover;
}